# Core ML & Vision
opencv-python
mediapipe
tensorflow
numpy
pandas
scikit-learn

# Speech Recognition (Voice -> Text)
SpeechRecognition
vosk
openai-whisper
pyaudio
# Text to Speech (Text -> Voice)
gTTS
pyttsx3

# Utilities
matplotlib
seaborn
